@using Bibliotekarz.Data.Model;
@{
    ViewData["Title"] = "Lista książek";
}
@model IndexViewModel


<div class="row">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Tytuł</th>
        <th scope="col">Autor</th>
        <th scope="col">Liczba stron</th>
        <th scope="col">Czy wypożyczona</th>
        <th scope="col">Imię wypożyczającego</th>
        <th scope="col">Nazwisko wypożyczającego</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>

        @foreach (Book item in Model.Books)
        {
          <tr>
            <td>@item.Title</td>
            <td>@item.Autor</td>
            <td>@item.PageCount</td>
            <td>@(item.IsBorrowed ? "Tak" : "Nie")</td>
            <td>@item.Borrower?.FirstName</td>
            <td>@item.Borrower?.LastDescription</td>
            <td><a asp-area="" asp-controller="Home" asp-action="Edit" asp-route-Id="@item.Id">Edycja</a></td>
          </tr>
        }


    </tbody>
  </table>
</div>
